.cart-items {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    margin-bottom: 20px; /* Adjust spacing between cart items */
  }
  
  .product-details {
    margin-bottom: 10px; /* Space between product details and quantity/buttons */
  }
  
  .quantity {
    display: flex;
    align-items: center; 
  }
  
  .quantity-text {
    margin-right: 10px; 
  }
  
  .addButton {
    font-size: 12px; 
    padding: 5px 10px;
    margin-top: 5px; 
    background-color: #28a745; 
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #218838; 
  }
  
  .subtractButton {
    font-size: 12px; 
    padding: 5px 10px;
    margin-top: 5px; 
    background-color: #dc3545; 
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .subtractButton:hover {
    background-color: #c82333; 
  }
  
  .total {
    margin-top: 20px;
  }
  