/* ProductDetails.css */

.ProduitDiv {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.produit {
  margin-bottom: 10px;
  font-size: 16px;
}

.backButton {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #0056b3;
}

.prix-label {
  font-weight: bold;
}

.prixOriginal {
  color: #555;
}

.promotion {
  color: #d9534f !important;
  font-weight: bold !important;
}

.prixSolde {
  color: #03be0d !important;
  font-weight: bold !important;
}

.dateFin {
  color: #555;
  font-style: italic;
}

@media (max-width: 768px) {
  .ProduitDiv {
      max-width: 90%;
  }
}
