.carte-et-cheque-cadeau {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: space-between;
  padding: 50px;
}
.cheque-card{
 display: grid;
 grid-template-rows: auto auto auto ; 
}
.Carte-Fidelite {
  height: fit-content;
  position: center !important;
  width: 500px !important;
  background-image: url(../../../public/card-bg.avif);
  background-size: cover; 
  background-position: center;
margin-left: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* Add margin bottom for spacing between sections */
}

.cheques-cadeaux {
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* Add margin bottom for spacing between sections */
}

.cheques-cadeaux-header {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.no-cheques-message {
  margin-top: 10px;
}



  .Carte-Fidelite,
  .cheques-cadeaux {
    width: 100%;
    margin-bottom: 20px;
  }

