.LoginClient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
  }
  
  .form-container {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container label {
    font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container input[type="password"],
  .form-container input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container .text-muted {
    font-size: 12px;
  }
  
  .form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3c43af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #2e3256; /* Darken the color on hover if desired */
  }
  
  .alert {
    margin-top: 10px;
  }
  